* {
  box-sizing: border-box;
}

body {
  background-color: #dedede;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 480px;
  min-height: 200vh;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}



.Logo {
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #5E94FF;
  margin-bottom: 40px;
  text-align: center;
}

.whatAboutThisCafe {
  position: relative;
  white-space: nowrap;
  height: 22px;
  left: 41px;
  top: 90px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #000000;
  text-align: left;
  width: 100%;
}

.grayLine {
  position: relative;
  width: 420px;
  height: 0px;
  left: 30px;
  top: 150px;
  margin-top: -50px;
  border: 1px solid #d7d7d7;
}

.picture {
  position: relative;
  width: 100px;
  height: 100px;
  left: -150px;
  top: 160px;
  margin-bottom: -10px;
  border-radius: 6px;

}

.cafeName {
  white-space: nowrap;
  text-align: left;
  position: relative;
  width: 195px;
  height: 19px;
  left: 155px;
  top: 60px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.americanoCost {
  position: relative;
  text-align: left;
  width: 122px;
  height: 17px;
  left: 155px;
  top: 65px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.characteristic {
  position: relative;
  width: 239px;
  height: 34px;
  left: 155px;
  top: 70px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  margin-bottom: -10px;

  color: #ADADAD;
}



.isFavorite {
  position: relative;
  width: 25px;
  height: 25px;
  left: 190px;
  top: 0px;
  margin-bottom: -10px;
}

.search-bar-container {
  display: flex;
  width: 400px;
  align-items: center;
  padding: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
}

.search-input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: none;
  outline: none;
}

.search-button {
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
}

.search-button:hover {
  background-color: #e6e9ec;
}

.vertical-line {
  height: 30px;
  border-left: 2px solid #dfe1e5;
  margin-right: 10px;
}

.cafes-result {
  flex-wrap: wrap;
  margin: 0 -10px;
}

.cafe-result {
  margin-bottom: 20px;
  flex: 0 0 calc(33.3333% - 20px);
  box-sizing: border-box;
  padding: 0 10px;
}

.last-cafe-result {
  margin-bottom: 20px;
}

.last-grayLine {
  position: relative;
  width: 420px;
  height: 0px;
  left: 30px;
  top: 150px;
  margin-top: -60px;
  border: 1px solid #d7d7d7;
  margin-bottom: 90px;
}

.no-result {
  text-align: center;
  padding: 20px; 
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  width: 100%; 
  box-sizing: border-box; 
}

.SearchResult {
  margin-top: 20px; 
  text-align: left;
  margin-left: 60px;
  font-weight: 600;
  font-size: 20px;
}

.gray-Line {
  margin-top: 10px;
  width: 420px;
  height: 0px;
  margin-left: 40px;
  border: 1px solid #d7d7d7;
}

.NoSearchResult {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%; 
  box-sizing: border-box; 
}

.gray_Line {
  position: relative;
  width: 420px;
  height: 0px;
  left: 30px;
  top: 150px;
  margin-top: -60px;
  border: 1px solid #d7d7d7;
}